<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Media Player</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-5">
            <h1>YouTube Media Player</h1>

            <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
            <div id="player"></div>
            <div class="playerControls">
                <button id="play-btn" type="button" class="btn btn-primary">Play</button>
                <button id="pause-btn" type="button" class="btn btn-primary">Pause</button>
                <input type="range" id="timeline">
            </div>
            
        </div>
        
        
        <!-- Include the socket.io library -->
        <script src="https://cdn.socket.io/4.5.1/socket.io.js"></script>
        <script src="/js/client.js"></script>
        
        <!-- <script src="https://www.youtube.com/iframe_api"></script> -->
        
    </body>
</html>




<!-- https://github.com/hkirat/project-ideas-v2/blob/master/README.md -->




    



